body {
    cursor: pointer;
}
.navigation {    
    position: fixed;
}
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1200px; 
}

.navigation-logo {
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    font-family: "Georgia";
    margin-left: 40px;
}

.navigation-item {
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 40px 0 0;
    color: #fff;
}

.navigation-list {
    list-style: none;
    display: flex;
    align-items: center; 
    text-align:  center; 
}

.active {
    width: 150px;
    height: 35px;
    border-radius: 11px;
    background-color: #76c38f; 
    
    
}

.bord {
    width: 1200px;
    height: 5px;
    background-color: #76c38f;
}

.slider {
    width: 1200px;
    height: 600px;
    background-color: #521b1b;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

img {
    width: 380px;
    height: 380px;
    border-radius: 190px;
    background-color: #333333;
}
.t1 {
    width: 380px;
    
}

.news {
    width: 1200px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.news1, .news2, .news3, .news4 {
    width: 225px;
    height: 305px;
    background-color: #fff;
    
}

.news1:hover, .news2:hover, .news3:hover, .news4:hover {
    background-color: #75c38f;
}

.news1 {
    margin-left: 120px;
}

.news4 {
    margin-right: 120px;
}

.home {
    width: 1200px;
    height: 1578px;
    background-color: #660000;
    /* display: none; */
}

.style {
    display: none;
}

.footer {
    width: 1200px;
    height: 387px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: nowrap;
    
}
.imges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.img {
    width: 290px;
    height: 190px;
    background-color: #353535;
    margin: 10px 10px 10px 10px;
    border: solid 10px #ffffff;
  

}

.img:hover {
    border: solid 10px #76c38f;
}

.Blog {
    margin-left: 120px;
}

.blog-test {
    width: 224px;
    height: 60px;
    font-size: 13px;
    line-height: 21px;
    color: rgb(151,151,151);
    font-family: "Georgia";
    overflow: hidden;
}

.h1 {
    font-size: 16px;
    line-height: 19px;
    color: rgb(255,255,255);
    font-family: "Georgia";
}

.h2 {
    font-size: 13px;
    line-height: 16px;
    color: rgb(118,195,143);
    font-family: "Georgia";
}

.h3 {
    font-size: 10px;
    line-height: 12px;
    color: rgb(118,195,142);
    font-family: "Georgia";
}

.day {
    font-size: 10px;
    line-height: 12px;
    color: rgb(151,151,151);
    font-family: "Georgia";
}

.more {
    font-size: 13px;
    line-height: 16px;
    color: rgb(118,195,143);
    font-family: "Georgia";
}

.link-h1 {
    font-size: 16px;
    line-height: 19px;
    color: rgb(255,255,255);
    font-family: "Georgia";
}

.link-div {
    display: flex;
    flex-direction: column;
}

.link-p {
    font-size: 13px;
    line-height: 34px;
    color: rgb(118,195,143);
    font-family: "Georgia";
}

hr {
    height: 1px;
    color: #404040;
    background-color: #404040;
    border: none; 
}

.tweets-a {
    width: 224px;
    height: 224px;
    font-size: 13px;
    line-height: 16px;
    color: rgb(152,152,152);
    font-family: "Georgia";
}

.tweets-h1 {
    font-size: 16px;
    line-height: 19px;
    color: rgb(255,255,255);
    font-family: "Georgia";
}

.tweets-p { 
    font-size: 13px;
    line-height: 21px;
    color: rgb(118,195,142);
    font-family: "Georgia";
}

.contact-h1 {
    font-size: 16px;
    line-height: 19px;
    color: rgb(255,255,255);
    font-family: "Georgia";
}

.Contact {
    margin-right: 120px;    
}

.contact-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: initial;
}

.contact-name {
    margin: 10px;
    font-size: 13px;
    line-height: 16px;
    color: rgb(152,152,152);
    font-family: "Georgia";
    width: 225px;
    height: 35px;
    border-radius: 11px;
    background-color: #222222;
    border: none;    
}

.contact-mail {
    margin: 10px;
    font-size: 13px;
    line-height: 16px;
    color: rgb(152,152,152);
    font-family: "Georgia";
    width: 225px;
    height: 35px;
    border-radius: 11px;
    background-color: #222222;
    border: none;
}

.contact-subject {
    margin: 10px;
    font-size: 13px;
    line-height: 16px;
    color: rgb(152,152,152);
    font-family: "Georgia";
    width: 225px;
    height: 35px;
    border-radius: 11px;
    background-color: #222222;
    border: none;
}

.contact-message {
    margin: 10px;
    font-size: 13px;
    line-height: 16px;
    color: rgb(152,152,152);
    font-family: "Georgia";
    width: 225px;
    height: 80px;
    border-radius: 11px;
    background-color: #222222;
    border: none;
}

.submit {
    margin: 10px;
    font-size: 12px;
    line-height: 14px;
    color: rgb(48,48,48);
    font-family: "Georgia";
    width: 75px;
    height: 35px;
    border-radius: 11px;
    background-color: #76c38f;
    border: none;
}